.zcompdump
plugin/
spell/
*.o
*.hi
__pycache__
/scripts/.local/bin/*
!/scripts/.local/bin/personal/

# plover
/plover/.config/plover/.cache
/plover/.config/plover/plugins/linux
/plover/.config/plover/commands.json
/plover/.config/plover/plover.log
/plover/.config/plover/main.json
plover/.config/plover/clippy_2.org
